In [51]:
import pandas as pd

In [52]:
df = pd.read_csv("planilha.csv")

In [53]:
sum_sales = df.groupby(["Date"], as_index=False).sum()

In [54]:
max_sales = sum_sales[ sum_sales['Sale'] == sum_sales['Sale'].max() ]

max_sales_value = max_sales['Sale'].values[0]
max_sales_date = max_sales['Date'].values[0]

In [55]:
min_sales = sum_sales[ sum_sales['Sale'] == sum_sales['Sale'].min() ]

min_sales_value = min_sales['Sale'].values[0]
min_sales_date = min_sales['Date'].values[0]

In [56]:
def value_analyser():
    df = pd.read_csv("planilha.csv")

    sum_sales = df.groupby(["Date"], as_index=False).sum()

    max_sales = sum_sales[ sum_sales['Sale'] == sum_sales['Sale'].max() ]
    max_sales_value = max_sales['Sale'].values[0]
    max_sales_date = max_sales['Date'].values[0]

    min_sales = sum_sales[ sum_sales['Sale'] == sum_sales['Sale'].min() ]
    min_sales_value = min_sales['Sale'].values[0]
    min_sales_date = min_sales['Date'].values[0]

    return [ [max_sales_value, max_sales_date], [min_sales_value, min_sales_date]   ]

In [57]:
value_analyser()

[[225, '1/10/2021'], [70, '5/10/2021']]

In [58]:
sum_sales

        Date  Sale
0  1/10/2021   225
1  2/10/2021   150
2  3/10/2021   190
3  4/10/2021   140
4  5/10/2021    70

In [59]:
df = pd.read_csv("planilha.csv")

count_sales = df.groupby(["Date"], as_index=False).count()

max_sales = count_sales[ count_sales['Sale'] == count_sales['Sale'].max() ]
max_sales_value = max_sales['Sale'].values[0]
max_sales_date = max_sales['Date'].values[0]

min_sales = count_sales[ count_sales['Sale'] == count_sales['Sale'].min() ]
min_sales_value = min_sales['Sale'].values[0]
min_sales_date = min_sales['Date'].values[0]

In [60]:
def count_analyser():
    df = pd.read_csv("planilha.csv")

    count_sales = df.groupby(["Date"], as_index=False).count()

    max_sales = count_sales[ count_sales['Sale'] == count_sales['Sale'].max() ]
    max_sales_value = max_sales['Sale'].values[0]
    max_sales_date = max_sales['Date'].values[0]

    min_sales = count_sales[ count_sales['Sale'] == count_sales['Sale'].min() ]
    min_sales_value = min_sales['Sale'].values[0]
    min_sales_date = min_sales['Date'].values[0]

    return [ [max_sales_value, max_sales_date], [min_sales_value, min_sales_date]   ]

In [61]:
count_analyser()

[[4, '5/10/2021'], [1, '4/10/2021']]

In [62]:
max_sales_value, max_sales_date

(4, '5/10/2021')

In [63]:
min_sales_value, min_sales_date

(1, '4/10/2021')

In [64]:
count_sales

        Date  Sale
0  1/10/2021     3
1  2/10/2021     3
2  3/10/2021     2
3  4/10/2021     1
4  5/10/2021     4